<div class="bg-animation">
  <img class="animated fadeInLeft splash" src="../../assets/images/splash1.png" alt="splash1" />
  <img class="animated fadeInRight splash" src="../../assets/images/splash2.png" alt="splash2" />
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-4">
      <input class="bg-click">
      <div class="feedback ">asd</div>
      <img src="http://s12.favim.com/orig/160323/girls-pretty-pretty-girl-tumblr-girls-Favim.com-4106552.jpg" class="img-fluid" />
    </div>
    <div class="col-md-4">
      <input class="bg-click">
      <div class="feedback ">asd</div>
      <img src="https://unsplash.it/600.jpg?image=250" class="img-fluid" />
    </div>
    <div class="col-md-4">
      <input class="bg-click">
      <div class="feedback ">asd</div>
      <img src="https://unsplash.it/600.jpg?image=250" class="img-fluid" />
    </div>
</div>
</div>
<script>
$(".bg-click").click(function(){
  console.log("asdas");
  // $(this).addClass("active");
});
</script>
