<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
</video>
<div class="page">
  <div class="col col-fixed">
    <ul class="nav nav-pills nav-stacked">
      <li><a routerLink="/" ><img class="img-responsive" src="assets/images/logo.jpg" alt="logo"></a></li>
      <li ><a routerLink="/feedback" href="#section2"><img class="img-responsive" src="assets/images/chat.svg" alt="chat"></a></li>
      <li><a routerLink="/gallery"><img class="img-responsive" src="assets/images/albums.svg" alt="albums"></a></li>
    </ul>
  </div>
  <div class="col col-calc">
      <router-outlet></router-outlet>
  </div>
</div>
